.log

# Gradle
.gradle/
classes/
build/
manifest.json
*.class

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/

# Eclipse
.project
.classpath
.settings
bin/
test-output/

# Mac
.DS_Store

# Clover
.clover/
clover-license.txt
clover.license

# Vagrant
.vagrant/

